.movie-filter-container {
  background-color: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.genre-filter-select__control {
  background-color: #6c6c6c !important;
}

.genre-filter-select__placeholder {
  color: #ffffff !important;
}

.genre-filter-select__menu {
  background-color: #6c6c6c !important;
}

.genre-filter-select__option {
  background-color: #6c6c6c !important;
}

.genre-filter-select__option:hover {
  background-color: #7a7a7a !important;
}

.genre-filter-select__single-value {
  color: #ffffff !important;
}

@media screen and (min-width: 576px) {
  .genre-filter-select__control {
    width: 260px;
  }

  .genre-filter-select__menu {
    width: 260px !important;
  }
}

@media screen and (min-width: 1200px) {
  .movie-filter-container {
    padding: 15px 20px;
  }
}
