.movie-details-container {
  display: flex;
  flex-direction: column;
  padding: 15px 18px 0px 18px;
  color: #ffffff;
}

.movie-details-description {
  display: block;
}

@media screen and (min-width: 1200px) {
  .movie-details-container {
    padding: 40px;
  }

  .movie-details-description {
    display: flex;
  }
}
