.movie-details-container {
  display: flex;
  flex-direction: column;
  padding: 15px 18px 0px 18px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .movie-details-container {
    padding: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .movie-details-container  {
    padding: 40px 130px;
  }
}
