.movies-container {
  color: #ffffff;
  padding: 20px 10px 0px 10px;
}

.movies-container h1 {
  font-size: 24px;
}

.movies-container a {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .movies-container {
    padding: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .movies-container {
    padding: 40px 140px 0px 140px;
  }
}
